body {
    background-color: black;
    color: white;
}
p {
    font-size: 18;
}
#btn0{
    cursor: pointer;
    border: 0.5px solid white;
}
.btnstyle {
    border: 5px solid hsl(241, 100%, 50%);
    font-family: "Times New Roman";
    font-weight: bold;
    width: 150px;
    cursor: pointer;
}
.btnstyle2 {
    border: 5px solid hsl(0, 100%, 50%);
    font-family: "Times New Roman";
    font-weight: bold;
    width: 100px;
    cursor: pointer;
}
.btnstyle:hover .btnstyle2:hover{
    color: white;
    background-color: black;
    transition: 0.75s;
    transition-delay: 0.2s;
}

.borderwhite {
    border-color: white;
    border-style: solid;
    border-width: 2px;
}
.lowerpics {
    border-color: white;
    border-style: solid;
    border-width: 2px;
    width: 295px;
    height: 295px;
    border-radius: 50%;
}
.italic {
    font-style: italic;
}
.tnr {
    font-family: "Times New Roman";
}
tr {
    text-align: center;
    font-size: 20;

}
